input {
  color: $color--mainDark;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid $color--mainDark;
  box-shadow: 2px 2px 4px rgba($color: #a1a1a1, $alpha: 0.4);
}

input[type=submit] {
  color: $color--accentLight;
  background-color: $color--accent;
  padding: 10px 25px;
  &:hover {
    background-color: $color--accentDarker;
    cursor: pointer;
  }
}