$color--mainDark: #61b9a9;
$color--mainDark-opacity: rgba(97, 185, 169, 0.8);
$color--accent: rgb(192, 122, 226);
$color--light: rgb(243, 252, 241);
$color--lightest: rgb(237, 253, 230);
$color--accentLight: rgb(248, 255, 246);
$color--accentDark: #91c471;
$color--accentDark2: #81cbaa;
$color--accent1: #78d2c2;
$color--accent2: #8cbd6e;
